async-timeout==4.0.3
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
cssselect==1.2.0
dateparser==1.2.0
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.14.0
GoogleNews==1.6.14
idna==3.7
jieba3k==0.35.1
joblib==1.4.2
kafka-python==2.0.2
lxml==5.2.2
lxml_html_clean==0.1.1
newsapi-python==0.2.7
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
py4j==0.10.9.7
pyspark==3.5.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.5
regex==2024.5.15
requests==2.32.3
requests-file==2.1.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.5
tinysegmenter==0.3
tldextract==5.1.2
tqdm==4.66.4
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1